.imageLoad {
  border-radius: 15px;
  padding: 13px;
  background-color: rgb(11, 11, 60);
  color: white;
  border: 1px solid white;
  width: 80%;
  margin: auto;
  margin-top: 10px;
}
.desc{
    width: 81%;
    margin: auto;
    border: 1px solid white;
    margin-top: 10px;
    border-radius: 15px;
    padding: 3px;
}
.desc input{
    width: 95%;
}
.noSelected{
    color:  grey;
    font-size: 12px;
}
.selectefile{
    font-size: 12px;
}
.button>button{
    width: 82%;
    border-radius: 15px;
    padding: 15px;
    margin-top: 10px;
    margin-left: 120px;
    font-size: 18px;
}


